name: Unit Tests

on:
  push:
    branches: [ main, master, dev ]
  pull_request:
    branches: [ main, master, dev ]

jobs:
  build-test:
    name: "Build & Test"
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
      
      - name: Install Flatpak and SDK
        run: |
          sudo apt-get update
          sudo apt-get install -y flatpak flatpak-builder
          sudo flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
          sudo flatpak install -y flathub org.gnome.Sdk//48 org.gnome.Platform//48
      
      - name: Build with flatpak-builder
        run: |
          flatpak-builder --force-clean --stop-at=planote _build build-aux/io.github.dev_aatif.planote.Devel.json
      
      - name: Show build success
        run: echo "Build completed successfully!"
