name: Unit Tests

on:
  push:
    branches: [ main, master, dev ]
  pull_request:
    branches: [ main, master, dev ]

jobs:
  test:
    name: "Build & Test"
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:gnome-48
      options: --privileged
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
      
      - name: Setup build
        run: meson setup build
      
      - name: Build
        run: ninja -C build
      
      - name: Run chrono tests
        run: meson test -C build chrono -v
        continue-on-error: true
      
      - name: Upload test logs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-logs
          path: build/meson-logs/testlog.txt
